.App {
  font-family: sans-serif;
  text-align: center;
}

.academia {
  background-color: #343a40;
  margin-top: 4px;
}

#skill-card-button {
  /* background: #f0f0f0; */
  /* color: black; */
  margin-right: 10px;
  /* border-color: #d4d1d1; */
  padding: 8px;
  font-size: 14px;
}

.col-skill-button {
  text-align: left;
}

.col-skill-type {
  text-align: left;
}

.skills-card {
  margin-top: 2rem;
}

.project-container {
  background-color: #343a40;
  margin-top: 4px;
}

.vertical-timeline-element-date {
  text-align: left;
}

.div-home {
  background-image: url("https://images.unsplash.com/photo-1558544956-15f3c317e06a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.navbar-Header {
  min-height: 120px;
}

.skill-head {
  letter-spacing: 1.5px;
  justify-content: center;
}
